.wd-content-container {
    margin: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.wd-top-nav-bar {
    padding-left: 20px;
    /* height: 60px; */
    width: 100%;
}

.wd-flex-row {
    display: flex;
    flex-direction: row;
}

.wd-flex-top-container {
    display: flex;
    margin-top: 10px;
    /* flex-direction: row;
    align-items: left; */
    gap: 20px;
}

.list-group.wd-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    row-gap: 30px;
    /* border-width: 3px; */
    border-radius: 0px;
}


.list-group-item.wd-card {
    width: 260px;
    margin:24px;
    border-width: 1px;
    border-radius: 0px;
    padding: 0px;
    /* border-width: 0px; */
}

.wd-card-content {
    padding: 10px;
    color:blue;
    text-decoration: none;
}

.wd-card-content:hover {
    color:blue;
    text-decoration: underline;
    text-decoration-color: red;
}

.wd-no-margin {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* <div class="wd-flex-top-container wd-flex-row">
                    <span class="wd-heading-text">Dashboard</span>
                </div>
                <hr/> */

/* .wd-dashboard-card {

} */

/*  

-----------------------------

*/

.wd-dashboard-container {
    padding: 10px;
    padding-right: 0px;
    row-gap: 30px;
    column-gap: 30px;
}

.wd-card-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-content: space-around; */
    row-gap: 30px;
}

.wd-heading-text {
    font-weight: 100;
    font-size: 38px;
}

.wd-secondary-text {
    margin-bottom: 0px;
    font-size: 24px;
}

.wd-secondary-bar {
    padding: 10px;
    padding-right: 0px;
}

.card {
    width: 260px;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}

.card-img-top {
    width: 260px;
    height: 146px;
}

/* .wd-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.wd-dashboard-card-text {
    color:blue;
    text-decoration: none;
}

a.wd-dashboard-card-text:hover {
    color:blue;
    text-decoration: underline;
    text-decoration-color: red;
}